/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Defining CSS variables for easier future edits */
:root {
    --main-color: #333;
    --hover-color: #666;
    --background-color: #FFFAE3;
}

/* Basic styling */
body {
    font-family: 'Share Tech Mono', monospace, 'Courier New', Courier;
    background-color: var(--background-color);
    background-image: url('URL_TO_YOUR_BACKGROUND_PATTERN'); /* Add your pattern URL */
    color: var(--main-color);
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

header, nav, footer {
    text-align: center;
    margin-bottom: 30px;
}

section {
    text-align: left; /* Aligns text of the section body to the left */
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Orbitron', sans-serif, 'Arial', 'Helvetica';
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

header p {
    font-style: italic;
}

/* Retro color scheme and patterns */
nav a, footer a {
    text-decoration: none;
    color: var(--main-color);
    margin: 0 10px;
    border-bottom: 2px dotted var(--main-color);
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transitions */
}

nav a:hover, footer a:hover {
    border-bottom-style: solid;
    color: var(--hover-color);
}

/* Social Links with icons */
#links a {
    margin: 0 15px;
    color: #555;
}

#links i {
    transition: color 0.3s ease;
}

#links a:hover i {
    color: var(--main-color); /* Darken the icon color on hover */
}

/* Retro footer style */
footer {
    border-top: 3px double var(--main-color);
    padding-top: 20px;
}

/* Other retro styling enhancements */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Portrait styling - No circle around the image */
#about-me img {
    margin-bottom: 20px;
}
