/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Defining CSS variables for easier future edits */
:root {
    --main-color: #333;
    --hover-color: #666;
    --background-color: #FFFAE3;
}

/* Basic styling */
body {
    font-family: 'Share Tech Mono', monospace, 'Courier New', Courier;
    background-color: var(--background-color);
    background-image: url('URL_TO_YOUR_BACKGROUND_PATTERN'); /* Add your pattern URL */
    color: var(--main-color);
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

header, nav, footer {
    text-align: center;
    margin-bottom: 30px;
}

section {
    text-align: left; /* Aligns text of the section body to the left */
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Orbitron', sans-serif, 'Arial', 'Helvetica';
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

header p {
    font-style: italic;
}

/* Retro color scheme and patterns */
nav a, footer a {
    text-decoration: none;
    color: var(--main-color);
    margin: 0 10px;
    border-bottom: 2px dotted var(--main-color);
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transitions */
}

nav a:hover, footer a:hover {
    border-bottom-style: solid;
    color: var(--hover-color);
}

/* Social Links with icons */
#links a {
    margin: 0 15px;
    color: #555;
}

#links i {
    transition: color 0.3s ease;
}

#links a:hover i {
    color: var(--main-color); /* Darken the icon color on hover */
}

/* Retro footer style */
footer {
    border-top: 3px double var(--main-color);
    padding-top: 20px;
}

/* Other retro styling enhancements */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Portrait styling - No circle around the image */
#about-me img {
    margin-bottom: 20px;
}


/* Skip Link Styling */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--main-color);
    color: white;
    padding: 5px;
    z-index: 1000;
    transition: top 0.3s;
}

.skip-link:focus {
    top: 0;
}

/* Back to Top Link Styling */
.to-top {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.to-top:hover {
    background-color: var(--hover-color);
}


/* Blog Main Page */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.blog-title {
    font-size: 2.4em;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif, 'Arial', 'Helvetica';
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.blog-post {
    margin-bottom: 40px;
}

.blog-post h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    border-bottom: 2px dotted var(--main-color);
    transition: border-bottom 0.3s ease; /* Smooth transitions */
}

.blog-post h2:hover {
    border-bottom-style: solid;
}

.blog-post-date {
    color: grey;
    margin-bottom: 20px;
    font-size: 0.9em;
}

/* Individual Blog Post Page */
.post-content {
    line-height: 1.8;
    letter-spacing: 0.4px;
}

.post-content h1,
.post-content h2,
.post-content h3 {
    margin-top: 30px;
}

.post-content h1 {
    font-size: 2.4em;
}

.post-content h2 {
    font-size: 2.1em;
}

.post-content h3 {
    font-size: 1.8em;
}
